<footer class="page-footer blue-grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Lineas nacionales gratuitas</h5>
          <p class="grey-text text-lighten-4">Gratis desde teléfonos fijos:</p>
          <p class="grey-text text-lighten-4"> 01 8000 xxxxx</p>
          <p class="grey-text text-lighten-4"> Gratis desde teléfonos fijos y celulares:</p>
          <p class="grey-text text-lighten-4"> 01 8000 xxxx</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Mapa del Sitio</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Misión</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Visión</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">PQRS</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2024 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
